#settingsDialog {
  width: 400px;
  min-width: 400px;
  height: 300px;
  resize: both;
}

label.settings {
  float: right;
}

label.settings:before {
  font-family: var( --huey-icon-font-family );
  content: '\eb20';
}

label.settings > button {
  display: none;
}


#settingsDialog > .tabs > .tabPage > .tabPageContents {
  padding: 8px 4px 4px 4px;
  border-style: none solid solid solid;
  border-color: var( --huey-light-border-color );
  border-width: 2px;
}


