dialog#exportDialog {
  width: 700px;
  height: 440px;
  resize: both;
}

dialog#exportDialog > header > form > input#exportTitleTemplate {
  width: 100%;
}

dialog#exportDialog > header > h3 {
  top: -10px;
  position: relative;
}

form > fieldset {
  grid-column: span 1;
}

form > output {
  grid-column: controls;
  grid-row: auto;
  justify-self:start;
}

dialog#exportDialog > dialog[role=progressbar] {
  z-index: 1;
  width: 200px;
}

dialog#exportDialog > dialog[role=progressbar] > header > h3[role=status] {
  font-size: smaller;
}

dialog#exportDialog[aria-busy=true] > dialog[role=progressbar] {
  display: flex;
  flex-direction: column;
}

dialog#exportDialog[aria-busy=false] > dialog[role=progressbar] {
  display: none;
}

menu[role=toolbar] > label[for=exportButton]:has( > button#exportButton ) {
  float: right;
}

menu[role=toolbar] > label[for=exportButton]:has( > button#exportButton )::before {
  content: "\ea96";
}

dialog#exportDialog #exportDelimitedDateFormat,
dialog#exportDialog #exportDelimitedTimestampFormat,
dialog#exportDialog #exportDelimitedNullString,
dialog#exportDialog #exportDelimitedColumnDelimiter,
dialog#exportDialog #exportDelimitedQuote,
dialog#exportDialog #exportDelimitedEscape,
dialog#exportDialog #exportJsonDateFormat,
dialog#exportDialog #exportJsonTimestampFormat {
  font-family: var( --huey-mono-font-family );
}

