nav#sidebar[role=tablist] > div > div[role=tabpanel]:has( > div#datasourcesUi) > label[for=uploader] {
  position: relative;
  left: 1em;
  top: 1em;
  width: calc( 100% - 1em );
  display: inline-block;
  white-space: normal;
}

nav#sidebar[role=tablist] > div > div[role=tabpanel]:has( > div#datasourcesUi) > label[for=uploader]::after {
  display:inline-block;
  font-size: 140px;
  width: 100%;
  font-family: var( --huey-icon-font-family );
  content: "\eb47";
  text-align: center;
  color: var( --huey-icon-color-subtle );
}
nav#sidebar[role=tablist] > div > div[role=tabpanel]:has( > div#datasourcesUi ) > label[for=uploader]:hover::after {
  color: var( --huey-icon-color-highlight );
}

nav#sidebar[role=tablist] > div > div[role=tabpanel]:has( > div#datasourcesUi details) > label[for=uploader] {
  display: none;
}

nav#sidebar[role=tablist] > div > div[role=tabpanel] > div#datasourcesUi {
  display: none;
}

nav#sidebar[role=tablist] > div > div[role=tabpanel] > div#datasourcesUi:has( > details ){
  display: block;
}

#datasourcesUi {
  padding-top: 12px;
  height: calc(100% - 36px);

  details > summary > span.label {
    max-width: calc(100% - 136px);
  }

  details[role=treeitem] {

    > summary {

      > label {
        > button {
          display: none;
          appearance: none;
        }
      }

      > span.label::before {
        display: inline-block;
        font-family: var( --huey-icon-font-family ) !important;
        font-size: var( --huey-icon-medium );
        color: var( --huey-icon-color-subtle );
        width: 24px;
        padding: 6px 3px 0px 3px;
        text-align: center;
        position: relative;
        top: 3px;
      }

      > label:has( > button )::before {
        display: block;
        float: inline-end;
        width: 24px;
        padding: 6px 3px 0px 3px;
        font-family: var( --huey-icon-font-family ) !important;
        font-size: var( --huey-icon-medium );
        color: var( --huey-icon-color-subtle );
      }

      > label:has( > button ):hover::before {
        color: var( --huey-icon-color-highlight );
      }

      > label.editActionButton::before {
        /* settings */
        content: '\eb20';
      }

      > label.analyzeActionButton::before {
        /* analyze */
        content: '\f3a3';
      }

      > label.removeActionButton::before {
        /* trash */
        content: '\eb41';
      }
    }
    
    > summary:hover  > span.label::before {
      color: var( --huey-icon-color-highlight );
    }

  }

  details[data-nodetype=datasourcegroup][data-grouptype=duckdb] > summary > span.label::before,
  details[data-nodetype=datasourcegroup][data-grouptype=file] > summary > span.label::before,
  details[data-nodetype=datasourcegroup][data-grouptype=sqlite] > summary > span.label::before,
  details[data-nodetype=datasource][data-datasourcetype=duckdb] > details[data-nodetype=duckdb_schema] > summary > span.label::before
  {
    /* folder */
    content: '\eaad';
  }

  details[data-nodetype=datasourcegroup][open][data-grouptype=duckdb] > summary > span.label::before,
  details[data-nodetype=datasourcegroup][open][data-grouptype=file] > summary > span.label::before,
  details[data-nodetype=datasourcegroup][open][data-grouptype=sqlite] > summary > span.label::before,
  details[data-nodetype=datasource][data-datasourcetype=duckdb] > details[data-nodetype=duckdb_schema][open] > summary > span.label::before
   {
    /* folder open */
    content: '\faf7';
  }

  details[data-nodetype=datasourcegroup][data-grouptype=file][data-filetype] > summary > span.label::before {
    /* bucket */
    content: '\ea47';
  }

  details[open][data-nodetype=datasourcegroup][data-grouptype=file][data-filetype] > summary > span.label::before {
    /* bucket droplet */
    content: '\f56a';
  }

  details[data-nodetype=datasource][data-datasourcetype=duckdb] > details[data-nodetype=duckdb_schema] > details > summary,
  details[data-nodetype=datasourcegroup][data-grouptype=file] > details[data-nodetype=datasource][data-datasourcetype=file] > summary {
    list-style: none;
    margin-left: 16px;
  }

  details[data-nodetype=datasource][data-datasourcetype=duckdb] {
    > summary > span.label::before {
      /* file-database */
      /* content: '\f037';*/
      /* database*/
      content: '\ea88';
    }

    > details[data-nodetype=duckdb_schema] {

      > details[data-nodetype=datasource][data-datasourcetype=table] summary > span.label::before {
        /* table */
        content: '\eba1';
      }

      > details[data-nodetype=datasource][data-datasourcetype=view] summary > span.label::before {
        /* table-options */
        content: '\f25c';
      }
    }
  }

  details[data-nodetype=datasource][data-datasourcetype=file] > summary > span.label::before {
    /* file */
    content: '\eaa4';
  }

  details[data-nodetype=datasource][data-datasourcetype=sqlite] > summary > span.label::before {
    /* feather */
    content: '\ee8b';
  }

  details[data-nodetype=datasource][data-reject_count] > summary > span.label::before {
    content: '\ede6';
    color: red;
  }

}

#datasourcesUi[data-drop-allowed=true] {
  cursor: 'copy';
}

#datasourcesUi[data-drop-allowed=false] {
  cursor: 'not-allowed';
}

/* this is used in the datasource menu when prompting for missing datasource */
menu.dataSources {
  padding-inline-start: 0px;

  > li {
    list-style-type: none;
    white-space: nowrap;

    > label {
      white-space: nowrap;
      vertical-align: super;
    }
    
    > label::before {
      display: inline-block;
      font-family: var( --huey-icon-font-family ) !important;
      font-size: var( --huey-icon-medium );
      color: var( --huey-icon-color );
      width: 24px;
    }

  }
}

/**/

menu.dataSources > li[data-nodetype=datasource][data-datasourcetype=file][data-filetype=csv] > label::before,
#datasourcesUi details[data-nodetype=datasource][data-datasourcetype=file][data-filetype=csv] > summary > span.label::before {
  /* file-type-csv */
  content: '\fb09';
}

menu.dataSources > li[data-nodetype=datasource][data-datasourcetype=file][data-filetype=tsv] > label::before,
#datasourcesUi details[data-nodetype=datasource][data-datasourcetype=file][data-filetype=tsv] > summary > span.label::before {
  /* file-type-csv */
  content: '\fb09';
}

menu.dataSources > li[data-nodetype=datasource][data-datasourcetype=file][data-filetype=txt] > label::before,
#datasourcesUi details[data-nodetype=datasource][data-datasourcetype=file][data-filetype=txt] > summary > span.label::before {
  /* file-type-txt */
  content: '\fb19';
}

menu.dataSources > li[data-nodetype=datasource][data-datasourcetype=file][data-filetype^=json] > label::before,
#datasourcesUi details[data-nodetype=datasource][data-datasourcetype=file][data-filetype^=json] > summary > span.label::before {
  /* file-type-js */
  content: '\fb0e';
}

#datasourcesUi details[data-nodetype=datasource][data-datasourcetype=file][data-filetype=sql] > summary > span.label::before {
  /* file-type-sql */
  content: '\fb0e';
}

menu.dataSources > li[data-nodetype=datasource][data-datasourcetype=file][data-filetype=parquet] > label::before,
#datasourcesUi details[data-nodetype=datasource][data-datasourcetype=file][data-filetype=parquet] > summary > span.label::before {
  /* file-stack */
  content: '\f503';
}

menu.dataSources > li[data-nodetype=datasource][data-datasourcetype=file][data-filetype=xlsx] > label::before,
#datasourcesUi details[data-nodetype=datasource][data-datasourcetype=file][data-filetype=xlsx] > summary > span.label::before {
  /* file-type-xls */
  content: '\fb1b';
}

