.search {
  position: sticky;
  flex-grow: 0;
  top: 7px;
  background-color: var( --huey-medium-background-color )
}

.search > fieldset > input[type=search]{
  width: 100%;
}

.attributeUi .attributeUiNode[data-matches-searchstring=false] {
  display: none;
}
