dialog#uploadUi {
  resize: both;
  width: 600px;
  height: 400px;
}

dialog#uploadUi > section > details > summary > label {
}

dialog#uploadUi > section > details > summary > progress {
  display: block;
  width: 100%;
  margin-top: 2px;
}

dialog#uploadUi > section > details[aria-invalid=true] > summary > progress {
  accent-color: red;
}

dialog#uploadUi > section > details[aria-invalid=false] > summary > progress {
  accent-color: green;
}

dialog#uploadUi > section > details[aria-invalid=false] > summary > label[for] {
  float: right;
}

dialog#uploadUi > section > details > summary > label[for] > button {
  display: none;
}

dialog#uploadUi > header > p#uploadUiDescription > span::after,
dialog#uploadUi > section > details[aria-invalid=false] > summary > label[for]::after {
  font-family: var( --huey-icon-font-family );
  font-size: var( --huey-icon-normal );
  margin: 1px 3px 2px 3px;
}


dialog#uploadUi > header > p#uploadUiDescription > span.editActionButton::after,
dialog#uploadUi > section > details[aria-invalid=false] > summary > label.editActionButton[for]::after {
  /* settings */
  content: '\eb20';
}

dialog#uploadUi > header > p#uploadUiDescription > span.analyzeActionButton::after,
dialog#uploadUi > section > details[aria-invalid=false] > summary > label.analyzeActionButton[for]::after {
  /* analyze */
  content: '\f3a3';  
}

dialog#uploadUi > section > details[aria-invalid=false] > summary > label.editActionButton[for]:after,
dialog#uploadUi > section > details[aria-invalid=false] > summary > label.analyzeActionButton[for]:after {
  color: var( --huey-icon-color-subtle );
}

dialog#uploadUi > section > details[aria-invalid=false] > summary > label.editActionButton[for]:hover::after,
dialog#uploadUi > section > details[aria-invalid=false] > summary > label.analyzeActionButton[for]:hover::after {
  color: var( --huey-icon-color-highlight );
}

dialog#uploadUi > section > details > summary {
  width: 100%;
}

dialog#uploadUi > section > details > summary::marker {
}

dialog#uploadUi > section > details > p {
  overflow: auto;
  max-height: 6em;
}

dialog#uploadUi[aria-busy=true] #uploadDialogOkButton {
  pointer-events: none;
  color: var( --huey-placeholder-color );
}

dialog#uploadUi[aria-busy=false] > header > .timer {
  visibility: hidden;
}


dialog#uploadUi > header > p#uploadUiDescription > label[for=datasourcesTab] {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}



