menu[role=toolbar] > label[for=secretsButton]:has(
  > button#secretsButton
) {
  float: right;

  &::before {
    content: var( --icon-lock-cog );
  }
}

dialog.documentDialog#secretsDialog {
  
  > header {
    &::before {
      content: var( --icon-lock-cog  );
    }
  }

  > menu[role=toolbar] {
    
    > label {

      &:has( > button[name=changePassword] ){
        float: right;
        &::before {
          content: var( --icon-user-key );
        }
      }

      &:has( > button[name=resetSecretsStore] ){
        float: right;
        &::before {
          content: var( --icon-bomb );
        }
      }

      &:has( > button[name=createNew] ){
        &::before {
          content: var( --icon-lock-plus );
        }
      }
    }
  }

  > * > *[role=tablist] > div:has( 
    > label > input[type=radio][name=tabs][value=formTab] 
  ) > *[role=tabpanel] {

    > fieldset[name=keyValuesFieldset] {
      height: calc( 100% - 96px );
    }

  }

}
