menu[role="toolbar"] > label[for="secretsButton"]:has(> button#secretsButton) {
  float: right;

  &::before {
    content: var(--icon-lock-cog);
  }
}


dialog#secretsDialog {

  /* center the dialog */
  left: calc( 50vw - 320px );
  top: calc( 50vh - 186px );
  resize: both;
  padding: 0px .5em .25em 1em;
  min-height: 372px;
  min-width: 372px;
  width: 800px;
  height: 372px;
  overflow: hidden;

  > header {

  }

  > menu[role=toolbar] {

    > label {

      &:is( [for=createNewSecret] ){
        &::before {
          content: var( --icon-lock-plus );
        }
      }


      &:is( [for=removeCurrentSecret] ){
        pointer-events: none;
        display:none;
        &::before {
          content: var( --icon-trash );
        }
      }

      &:is( [for=saveCurrentSecret] ){
        pointer-events: none;
        display:none;
        &::before {
          content: var( --icon-device-floppy );
        }
      }

      &:is( [for=restoreCurrentSecret] ){
        pointer-events: none;
        display:none;
        &::before {
          content: var( --icon-arrow-back-up );
        }
      }

    }
  }

  > section {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto 1fr;

    > nav {
      resize: horizontal;
      overflow: hidden;
      width: 30ch;
      /* keep the resize widget from colliding into the list scrollbar */
      padding-bottom: 1em;
      padding-right: .5em;

      > select {
        margin-top: 3px;
        margin-bottom: 1em;
        width: 100%;
        height: 100%;
      }
    }

    > form {
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-top: 0px;
      display: block;
      position: relative;
      overflow: hidden;

      > input[type=checkbox]#secretEditingActive,
      > input[type=checkbox]#secretUnsavedChanges {
        display: none;
      }

      > header {
        display: block;
        height: 44px;

        > fieldset {
          grid-template-columns: 7ch auto 7ch 16ch;
          grid-auto-flow: row;

          position: relative;
          top: 0px;
          margin-top: -4px;
          height: 100%;
          overflow:hidden;
          padding-top: 0px;
          grid-gap: 0px;
          padding: .25em .5em .20em .5em;

          > label {
            height: 1em;
            padding-left: .5em;
            padding-right: .25em;
          }
        }
      }

      fieldset {
        visibility: hidden;
        height: calc( 100% - 80px );
        overflow-y: scroll;
      }

      > fieldset:has( > template#secretKeyValueUi ) {

        display: inline-block;

        > div {
          display: grid;
          height: 28px;
          grid-template-columns: 116px 26ch 7ch 26ch;
          grid-auto-flow: row;

          > span {

            > menu[role=toolbar] {
              grid-column: 1;
              padding: 0px;

              > label {

                &::before {
                  margin-right: 0px;
                }

                &:has( > button[value=add] )::before {
                  content: var( --icon-plus );
                }

                &:has( > button[value=remove] ) {
                  pointer-events: none;
                  &::before {
                    width: 20px;
                    content: ' ';
                  }
                }

                &:has( > button[value=up] )::before {
                  content: var(  --icon-chevron-up );
                }

                &:has( > button[value=down] )::before {
                  content: var(  --icon-chevron-down );
                }

                &:has( > input[type=checkbox][value=indent] ) {
                  > input[type=checkbox] {
                    display: none;
                  }
                  
                  /* if the toggle is not checked, the item is outdented and its icon suggests to indent */
                  &:has( > input[value=indent][type=checkbox]:not( :checked ) ) {
                    &::before {
                      content: var(  --icon-chevron-right );
                    }
                  }
                  
                  /* if the toggle is checked, the item is indented and its icon changes to undo outdent */
                  &:has( > input[value=indent][type=checkbox]:checked ) {
                    &::before {
                      content: var(  --icon-chevron-left );
                    }
                  }
                }

              }
            }

            > input[type=text][list=secretkeys] {
              grid-column: 2;
            }

            > select {
              font-family: var( --huey-icon-font-family );
              grid-column: 3;
            }

            > input {
              grid-column: 4;
            }
          }

          /* items that are indented have a different appearance */
          &:has( > span > menu[role=toolbar] > label > input[type=checkbox][value=indent]:checked ) {
            
            /* the key field is actually indented */
            > span > input[list="secret-keys"] {
              margin-left: 4ch;
              width: 18.7ch;
            }
            
            /* the value type cannot be a list or a map */
            > span > select > option:is( [value=list], [value=map] ) {
              display: none;
            }

            /* they cannot be outdented if the following field is also indented */
            &:has( + div > span > menu[role=toolbar] > label > input[type=checkbox][value=indent]:checked ) {
              > span > menu > label:has( > input[type=checkbox][value=indent] ) {
                pointer-events: none;
                &::before {
                  width: 20px;
                  content: ' ';
                }
              }
            }
            
            /* they cannot be moved down if the following field is not also indented */
            &:has( + div > span > menu[role=toolbar] > label > input[type=checkbox][value=indent]:not( :checked ) ) {
              
              > span > menu > label:has( > button[value=down] ) {
                pointer-events: none;
                &::before {
                  width: 20px;
                  content: ' ';
                }
              }
            }
          }

          /* items of map or list type also have special appearance */
          &:has( > span > select > option:is( [value=list], [value=map] ):checked ) {
            
            /* they cannot be indented themselves */
            > span > menu[role=toolbar] > label:has( input[value=indent][type=checkbox] ){
              pointer-events: none;
              
              &::before {
                width: 20px;
                content: ' ';
              }
            }
            
            /* if it is followed by an indented item, then its value type must remain list or map */
            &:has( + div > span > menu > label > input[value=indent][type=checkbox]:checked ) {

              > span > select > option:not( [value=list], [value=map] ) {
                display: none;
              }
            }
            
            
            /* the field following the map or list type must not have a "move up" action if it is an indented item */
            & + div:has( > span > menu > label > input[value=indent][type=checkbox]:checked ) {
              > span > menu > label:has( > button[value=up] ) {
                pointer-events: none;
                &::before {
                  width: 20px;
                  content: ' ';
                }
              }
            }
          }

          /* if an item is not indented, and it's not of type list of a map, then the field following it cannot be indented */
          &:has( > span > select > option:checked:not( [value=map], [value=list] ) ):has(  > span > menu > label > input[value=indent][type=checkbox]:not( :checked ) ) {
            & + div > span > menu > label:has( > input[type=checkbox][value=indent] ) {
              pointer-events: none;
              &::before {
                width: 20px;
                content: ' ';
              }
            }
          }

          /* first field cannot... */
          &:first-of-type {

            > span {
              > menu[role=toolbar] {
                > label {
                  
                  /*  ... be moved up */
                  &:has( > button:is( [value=up] ) )
                  {
                    pointer-events: none;

                    &::before {
                      content: ' ';
                      width: 20px;
                    }
                  }

                  /* ...be indented */
                  &:has( > input:is( [value=indent] ) )
                  {
                    pointer-events: none;

                    &::before {
                      content: ' ' !important;
                      width: 20px;
                    }
                  }

                }
              }
            }
          }

          /* last field cannot be moved down */
          &:last-of-type {

            > span {
              > menu[role=toolbar] {
                > label {
                  &:has( > button[value=down] ) {
                    pointer-events: none;

                    &::before {
                      content: ' ';
                      width: 20px;
                    }
                  }
                }
              }
            }
          }
        }

        /* only if we have more than one field is there a delete option (can't delete last field) */
        &:has( > div:nth-of-type(2) ) {

          > div {
            > span {
              > menu {
                > label:has( > button[value=remove] ) {
                  pointer-events: auto;
                  &::before {
                    content: var( --icon-trash );
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  > footer {
    padding-top: 0px;
    padding-bottom: .25em;
    > form {
      display: block;
      padding-top: 0px ;
    }
  }

  /**
  *
  * Dialog Usage Hint
  *
  */
  
  /* button icon in the dialog usage hint */
  > section > form  > p#secretsDialogUsageHint > label[for=createNewSecret] {
    cursor: pointer;

    > span {
      color: blue;
      text-decoration: underline;
    }
    
    &::after {
      font-family: var( --huey-icon-font-family );
      font-size: 20px;
      content: var( --icon-lock-plus );
      color: var( --huey-icon-color-subtle );
    }
    
    &:hover::after {
      color: var( --huey-icon-color-highlight );
    }
    
  }

  /* By default, the hint about editing and removing existing secrets is hidden */
  > section > form  > p#secretsDialogUsageHint > span {
    display: none;
  }
  
  /* Show the usage hint about editing and removing existing secrets only if the list is populated */
  &:has( > section > nav > select#secretsList > option ) > section > form  > p#secretsDialogUsageHint > span {
    display: inline;
  }

  /**
  *
  * Other Screen Logic
  *
  */
  

  /* the removeCurrentSecret current button is active only when there is an existing secret selected in the list. */
  &:has( > section > nav > select#secretsList > option:checked ) {

    > menu[role=toolbar] {

      > label {
        &:is( [for=removeCurrentSecret] ){
          pointer-events: auto;
          display:unset;
        }
      }
    }

  }

  /* only show the form content when edting secret. Also, hide the dialog usage hint. */
  &:has( > section > form > input[type=checkbox]#secretEditingActive:checked ){

    > section {
      > form {

        > p#secretsDialogUsageHint {
          display: none;
        }

        > header > fieldset,
        > fieldset {
          visibility: visible;
        }

      }
    }
  }

  /* the saveCurrentSecret button is active only if we're editing and have unsaved changes */

  /* the restoreCurrentSecret is active only if we have unsaved changes */

  &:has( > section > form > input[type=checkbox]#secretUnsavedChanges:checked ){

    > menu[role=toolbar] {
      /* the createNewSecret button is not active if we're editing and have unsaved changes */
      > label {
        &:is( [for=createNewSecret] ){
          pointer-events: none;
          display:none;
        }
      }

      > label {
        &:is( [for=saveCurrentSecret] ){
          pointer-events: auto;
          display:unset;
        }
      }

      > label {
        &:is( [for=restoreCurrentSecret] ){
          pointer-events: auto;
          display:unset;
        }
      }
    }
  }

}