menu[role="toolbar"] > label[for="secretsButton"]:has(> button#secretsButton) {
  float: right;

  &::before {
    content: var(--icon-lock-cog);
  }
}

dialog#secretsDialog {
  /* center the dialog */
  left: calc( 50vw - 320px );
  top: calc( 50vh - 186px );
  resize: both;
  padding: 0px .5em .25em 1em;
  min-height: 372px;
  min-width: 372px;
  width: 840px;
  height: 372px;
  overflow: hidden;
}

/**
* Dialog Toolbar
*/
dialog#secretsDialog {
  
  > header {
    padding-bottom:0px;
  }

  > menu[role=toolbar] {
    padding-top:0px;
    
    > label {

      &:is( [for=createNewSecret] ){
        &::before {
          content: var( --icon-lock-plus );
        }
      }

      &:is( [for=removeCurrentSecret] ){
        pointer-events: none;
        display:none;
        &::before {
          content: var( --icon-trash );
        }
      }

      &:is( [for=saveCurrentSecret] ){
        pointer-events: none;
        display:none;
        &::before {
          content: var( --icon-device-floppy );
        }
      }

      &:is( [for=restoreCurrentSecret] ){
        pointer-events: none;
        display:none;
        &::before {
          content: var( --icon-arrow-back-up );
        }
      }
    }
    
    > input[type=checkbox]#secretEditingActive,
    > input[type=checkbox]#secretUnsavedChanges {
      display: none;
    }
    
    > span#secretsDialogUsageHint > label[for] {
      color: ActiveText;
      text-decoration: underline;
      cursor: pointer;
    }
    
    &:has( > input[type=checkbox]#secretEditingActive:checked ) {
      > span#secretsDialogUsageHint {
        display: none;
      }
    }

    > span#secretFormInvalidHint {
      display: none;
    }

  }
  
  &:has( > section > nav > select:empty ) {
    > menu[role=toolbar] {
      > span#secretsDialogUsageHint {
        > span {
          display: none;
        }
      }
    }
  }

  &:has( form#secretForm:invalid ) {
    > menu[role=toolbar] {
      
      &:has( > input[type=checkbox]#secretEditingActive:checked ) {
        > span#secretFormInvalidHint {
          display: unset;
        }
      }
    }
  }
    
  > footer {
    padding-top: 0px;
    padding-bottom: .25em;
    > form {
      display: block;
      padding-top: 0px ;
    }
  }
  
}

/**
* Split layout
*/
dialog#secretsDialog {
  
  > section {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto 1fr;

    > nav {
      resize: horizontal;
      overflow: hidden;
      width: 30ch;
      /* keep the resize widget from colliding into the list scrollbar */
      padding-bottom: 1em;
      padding-right: .5em;

      > select {
        margin-top: 3px;
        margin-bottom: 1em;
        width: 100%;
        height: 100%;
      }
    }

    > section[role=tablist] {
      margin-top: 2px;
    }

  }

}

dialog#secretsDialog > section > section[role=tablist] > div:has( > label[for=secretFormTab] ) > form[role=tabpanel]#secretForm {

  height: calc( 100% - 34px );

  > header {
    display: block;
    height: 44px;

    > fieldset#secretHeaderFieldset {
      grid-template-columns: 7ch auto 7ch 16ch;
      grid-auto-flow: row;

      position: relative;
      top: 0px;
      margin-top: -4px;
      height: 100%;
      overflow:hidden;
      padding-top: 0px;
      grid-gap: 0px;
      padding: .25em .5em .20em .5em;

      > label {
        height: 1em;
        padding-left: .5em;
        padding-right: .25em;
      }
    }
  }

  fieldset {
    visibility: hidden;
  }

  > fieldset#secretKeyValueFieldset {
    display: block;
    height: calc( 100% - 78px );
    overflow-y: scroll;

    > div {
      display: grid;
      height: 28px;
      grid-template-columns: 116px 186px 58px 186px;
      grid-auto-flow: row;

      > span {

        > menu[role=toolbar] {
          grid-column: 1;
          padding: 0px;

          > label {

            &::before {
              margin-right: 0px;
            }

            &:has( > button[name=add] )::before {
              content: var( --icon-plus );
            }

            &:has( > button[name=remove] ) {
              pointer-events: none;
              &::before {
                width: 20px;
                content: ' ';
              }
            }

            &:has( > button[name=up] )::before {
              content: var(  --icon-chevron-up );
            }

            &:has( > button[name=down] )::before {
              content: var(  --icon-chevron-down );
            }

            &:has( > input[type=checkbox][name=indent] ) {
              > input[type=checkbox] {
                display: none;
              }
              
              /* if the toggle is not checked, the item is outdented and its icon suggests to indent */
              &:has( > input[name=indent][type=checkbox]:not( :checked ) ) {
                &::before {
                  content: var(  --icon-chevron-right );
                }
              }
              
              /* if the toggle is checked, the item is indented and its icon changes to undo outdent */
              &:has( > input[name=indent][type=checkbox]:checked ) {
                &::before {
                  content: var(  --icon-chevron-left );
                }
              }
            }

          }
        }

        > input[name=key][type=text] {
          grid-column: 2;
          width: 170px;
        }

        > select[name=type] {
          grid-column: 3;
        }

        > input[name=value] {
          grid-column: 4;
        }
        
        > input[disabled] {
          display: none;
        }
      }

      &:not( > span > menubar > input[type=checkbox][name=indent]:checked ){
        --display-key: inline-block;
      }
      
      /* for the indented items following a list types, the key is hidden */
      /* NOTE: we only support this logic for up to 4 entries. */
      &:has( > span > select[name=type] > option[value=list]:checked ) 
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked ) {
        --display-key: none;
      }

      &:has( > span > select[name=type] > option[value=list]:checked ) 
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked )
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked ) {
        --display-key: none;
      }

      &:has( > span > select[name=type] > option[value=list]:checked ) 
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked )
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked )
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked ) {
        --display-key: none;
      }

      &:has( > span > select[name=type] > option[value=list]:checked ) 
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked )
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked )
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked )
      + div:has( > span > menu > label > input[type=checkbox][name=indent]:checked ) {
        --display-key: none;
      }

      
      /* items that are indented have a different appearance */
      &:has( > span > menu[role=toolbar] > label > input[type=checkbox][name=indent]:checked ) {
        
        /* the key field is actually indented */
        > span > input[list="secret-keys"] {
          
          margin-left: 30px;
          width: 140px;
          
          display: var( --display-key );
        }
                
        /* the value type cannot be a list or a map */
        > span > select[name=type] > option:is( [value=list], [value=map] ) {
          display: none;
        }

        /* they cannot be outdented if the following field is also indented */
        &:has( + div > span > menu[role=toolbar] > label > input[type=checkbox][name=indent]:checked ) {
          > span > menu > label:has( > input[type=checkbox][name=indent] ) {
            pointer-events: none;
            &::before {
              width: 20px;
              content: ' ';
            }
          }
        }
        
        /* they cannot be moved down if the following field is not also indented */
        &:has( + div > span > menu[role=toolbar] > label > input[type=checkbox][name=indent]:not( :checked ) ) {
          
          > span > menu > label:has( > button[name=down] ) {
            pointer-events: none;
            &::before {
              width: 20px;
              content: ' ';
            }
          }
        }
      }

      /* items of map or list type also have special appearance */
      &:has( > span > select > option:is( [value=list], [value=map] ):checked ) {
        
        /* they cannot be indented themselves */
        > span > menu[role=toolbar] > label:has( input[name=indent][type=checkbox] ){
          pointer-events: none;
          
          &::before {
            width: 20px;
            content: ' ';
          }
        }
        
        /* if it is followed by an indented item, then its value type must remain list or map */
        &:has( + div > span > menu > label > input[name=indent][type=checkbox]:checked ) {

          > span > select > option:not( [value=list], [value=map] ) {
            display: none;
          }
        }
        
        
        /* the field following the map or list type must not have a "move up" action if it is an indented item */
        & + div:has( > span > menu > label > input[name=indent][type=checkbox]:checked ) {
          > span > menu > label:has( > button[name=up] ) {
            pointer-events: none;
            &::before {
              width: 20px;
              content: ' ';
            }
          }
        }
      }

      /* if an item is not indented, and it's not of type list of a map, then the field following it cannot be indented */
      &:has( > span > select > option:checked:not( [value=map], [value=list] ) ):has(  > span > menu > label > input[name=indent][type=checkbox]:not( :checked ) ) {
        & + div > span > menu > label:has( > input[type=checkbox][name=indent] ) {
          pointer-events: none;
          &::before {
            width: 20px;
            content: ' ';
          }
        }
      }

      /* first field cannot... */
      &:first-of-type {

        > span {
          > menu[role=toolbar] {
            > label {
              
              /*  ... be moved up */
              &:has( > button:is( [value=up] ) )
              {
                pointer-events: none;

                &::before {
                  content: ' ';
                  width: 20px;
                }
              }

              /* ...be indented */
              &:has( > input:is( [name=indent] ) )
              {
                pointer-events: none;

                &::before {
                  content: ' ' !important;
                  width: 20px;
                }
              }

            }
          }
        }
      }

      /* last field cannot be moved down */
      &:last-of-type {

        > span {
          > menu[role=toolbar] {
            > label {
              &:has( > button[name=down] ) {
                pointer-events: none;

                &::before {
                  content: ' ';
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }

    /* only if we have more than one field is there a delete option (can't delete last field) */
    &:has( > div:nth-of-type(2) ) {

      > div {
        > span {
          > menu {
            > label:has( > button[name=remove] ) {
              pointer-events: auto;
              &::before {
                content: var( --icon-trash );
              }
            }
          }
        }
      }

    }
  }

}

dialog#secretsDialog > section > section[role=tablist] > div:has( > label[for=secretCodeTab] ) > pre[role=tabpanel] {
  overflow: scroll;
  margin: 0px;
  height: calc( 100% - 36px );
}

dialog#secretsDialog {
  /* the removeCurrentSecret current button is active only when there is an existing secret selected in the list. */
  &:has( > section > nav > select#secretsList > option:checked ) {

    > menu[role=toolbar] {

      > label {
        &:is( [for=removeCurrentSecret] ){
          pointer-events: auto;
          display:unset;
        }
      }
    }

  }

  /* only show the form content when edting secret. */
  &:has( > menu[role=toolbar] > input[type=checkbox]#secretEditingActive:checked ){

    > section > section[role=tablist] > div:has( > label[role=tab][for=secretFormTab] ) > form[role=tabpanel] {
      > header > fieldset,
      > fieldset {
        visibility: visible;
      }
    }
  }

  /* the saveCurrentSecret button is active only if we're editing and have unsaved changes */

  /* the restoreCurrentSecret is active only if we have unsaved changes */

  &:has( > menu[role=toolbar] > input[type=checkbox]#secretUnsavedChanges:checked ){

    &:has( form#secretForm:valid ) {
      > menu[role=toolbar] {
        > label {
          &:is( [for=saveCurrentSecret] ){
            pointer-events: auto;
            display:unset;
          }
        }
      }
    }

    > menu[role=toolbar] {
      /* the createNewSecret button is not active if we're editing and have unsaved changes */
      > label {
        &:is( [for=createNewSecret] ){
          pointer-events: none;
          display:none;
        }
      }

      > label {
        &:is( [for=restoreCurrentSecret] ){
          pointer-events: auto;
          display:unset;
        }
      }
    }
  }

}