label.aboutButton {
  float: right;
}

label.aboutButton:before {
  font-family: var( --huey-icon-font-family );
  font-size: var(--huey-icon-normal);  
  content: '\eac5';
}

label.aboutButton > button {
  display: none;
}
