
.layout {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 99fr;
  grid-template-rows: 1fr 1fr 99fr;
  gap: 0px;
}

menu[role=toolbar] {
  list-style-type: none;
  margin-block: 0px;
  margin-inline: 0px;
  padding-inline-start: 0px;
  padding: 6px 0px 0px 4px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: var( --huey-light-border-color );
  border-bottom-color: var( --huey-dark-border-color );
  grid-column: 1/ span 2;
  grid-row: 1/1;
  overflow: hidden;
}

.sidebar {
  width: 15vw;
  height: calc(100vh - 40px);
  max-width: calc(100vw - 14px);
  border-style: none solid solid solid;
  border-color: var( --huey-light-border-color );
  border-right-color: var( --huey-dark-border-color );
  border-width: 1px;
  grid-column: 1/1;
  grid-row: 2/ span 2;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: column;
  min-width: 138px;
}

.workarea {
  grid-column: 2/2;
  grid-row: 2/2;
  height: calc(100vh - 38px);
  overflow: hidden;
  display: flex;
  flex-direction: column;  
}

.button {
  display: inline-block;
  
}

menu[role=toolbar] > label:has( > button)::before,
menu[role=toolbar] > label:has( > input[type=file])::before 
{  
  font-family: var( --huey-icon-font-family );
  font-size: var( --huey-icon-normal );
  vertical-align:middle;
  color: var( --huey-icon-color-subtle );
  margin: 4px 4px 0px 4px;
}

menu[role=toolbar] > label:hover:has( > button)::before,
menu[role=toolbar] > label:hover:has( > input[type=file])::before {
  color: var( --huey-icon-color-highlight );
}

menu[role=toolbar] > label[for=uploader]::before {
  content: "\eb47";
}

#registeredFiles {
  min-width: 20em;
}

#uploader {
  display:none;
}

#registeredFiles:not(:has( > optgroup#fileOptionsGroup )) > optgroup#actions > #registerPattern,
#registeredFiles:not(:has( > optgroup#fileOptionsGroup )) > optgroup#actions > #multiSelect,
#registeredFiles:not(:has( > optgroup#fileOptionsGroup )) > optgroup#actions > #unregister {
  pointer-events: none;
  color: var( --huey-placeholder-color );  
}  
