#settingsDialog {
  width: 640px;
  min-width: 640px;
  height: 372px;
  resize: both;
}

menu[role=toolbar] > label[for=settingsButton]:has( > button#settingsButton ) {
  float: right;
}

menu[role=toolbar] > label[for=settingsButton]:has( > button#settingsButton )::before {
  content: '\eb20';
}