form#localeSettings > fieldset:has(> input#useDefaultLocale:checked) > input#locale {
  --webkit-touch-callout: none;
  --webkit-user-select: none;
  --moz-user-select: none;
  user-select: none;
  pointer-events: none;
  background-color: var( --huey-medium-background-color );
  color: var( --huey-placeholder-color ); 
}  

form#localeSettings > fieldset:has(> input#useDefaultLocale:checked) > label[for=locale] {
  --webkit-touch-callout: none;
  --webkit-user-select: none;
  --moz-user-select: none;
  user-select: none;
  pointer-events: none;
  color: var( --huey-placeholder-color );
}  

form#localeSettings > fieldset:has(> input#linkMinimumAndMaximumDecimals:checked) > label[for=maximumFractionDigits],
form#localeSettings > fieldset:has(> input#linkMinimumAndMaximumDecimals:checked) > input#maximumFractionDigits {
  display: none
}  


form#localeSettings > fieldset:has(> input#linkMinimumAndMaximumDecimals:not(:checked)) > label[for=minimumFractionDigits]::before {
  content: "Minimum Decimals"
}

form#localeSettings > fieldset:has(> input#linkMinimumAndMaximumDecimals:checked) > label[for=minimumFractionDigits]::before {
  content: "Decimals"
}

