/*
We keep this one around here for reference, but 

@font-face {
  font-family: "tabler-icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.47.0/fonts/tabler-icons.woff2?v2.47.0") format("woff2");
}
*/
:root {
  /*
  * Huey text font
  */
  --huey-text-font-family: system-ui;
  --huey-text-font-size: 10pt;
  --huey-mono-font-family: monospace;
  
  /**
  * Huey text font colors
  */
  --huey-foreground-color: rgb(50,50,50);
  --huey-placeholder-color: rgb(180,180,180);
    
  /**
  * Huey background colors
  */
  --huey-light-background-color: rgb(255,255,255);
  --huey-medium-background-color: rgb(245,245,245);
  --huey-dark-background-color: rgb(210,210,210);
  
  /**
  * Huey border colors
  */
  --huey-light-border-color: rgb(222,222,222);
  --huey-dark-border-color: rgb(175,175,175);
  
  /**
  * Huey icon font
  */
  --huey-icon-font-family: tabler-icons;
  --huey-icon-small: 14px;
  --huey-icon-medium: 18px;
  --huey-icon-normal: 20px;
  --huey-icon-large: 24px;

  /**
  * Huey icon font colors
  */
  --huey-icon-color-subtle: rgb(185,185,185);
  --huey-icon-color: rgb(50,50,50);
  --huey-icon-color-highlight: rgb(0,0,0);
}

* {
  scrollbar-color: var( --huey-medium-background-color );
}

/**
*
* Default Element Appearance
*
*/
body, html {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

body {
  font-family: var( --huey-text-font-family );
  font-size: var( --huey-text-font-size );
  color: var( --huey-foreground-color );
  background-color: var( --huey-medium-background-color );
}

input, select:not([multiple]), button {
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  height: 22px;
}

input[type=radio] {
  height: 13px;
  width: 13px;
}

select[multiple] {
  border-style: solid;
  border-width: 1px;
  border-radius: 14px 0px 0px 14px;
}

input[type=text], 
input[type=checkbox], 
input[type=number],
select {
  border-color: var( --huey-light-border-color );
  background-color: var( --huey-light-background-color );
  padding: 0px 2px 0px 8px;
}

input::placeholder {
  color: var( --huey-placeholder-color );
}

select:focus, 
select:focus-visible, 
select:active, 
input:focus, 
input:focus-visible, 
input:active {
  border-color: var( --huey-dark-border-color );
  border-width: 1px;
  box-shadow: 0 0 3px var( --huey-dark-border-color );  
  outline-width: 0px;
  outline-color: var( --huey-dark-border-color );
  color: var( --huey-foreground-color );
}

input[type=file]::file-selector-button {
}

input:invalid {
  color: red;
  border-color: red;
}

button {
  border-color: var( --huey-dark-border-color );
  background-color: var( --huey-dark-background-color );
}

fieldset {
  margin: 0.5em 0.25em .5em 0.25em;
  border-color: var( --huey-light-border-color );
  border-width: 1px;
}

fieldset > legend {
  font-size: x-small;
}

dialog {
  background-color: var( --huey-medium-background-color );
  border-style: solid;
  border-width: 1px;
  border-color: var( --huey-dark-border-color );
  border-radius: 18px;
  padding: 0em 1em 0em 1em;
  color: var( --huey-foreground-color );
}

dialog:popover-open,
dialog[open] {
  display: flex;
  flex-direction: column;
}

/* this is used as dialog title section */
dialog > header {
  flex-grow: 0;
  color: var( --huey-foreground-color );
  position: sticky;
  top: 0px;
  background-color: var( --huey-medium-background-color );
  padding: .5em 0em .5em 0em;
}

/* this is used as dialog contents section */
dialog > section,
dialog > form {
  flex-grow: 1;
}

dialog > section[role=tablist],
dialog > form[role=tablist] {
  margin-top: 12px;
}

/* this is used as dialog buttons section */
dialog > footer {
  flex-grow: 0;
  text-align: center;
  position: sticky;
  bottom: 0px;
  background-color: var( --huey-medium-background-color );
  padding: .5em 0em .5em 0em;
}

dialog > footer button {
  width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var( --huey-foreground-color );
  margin-left:.5em;
  margin-right:.5em;
}

*[role=toolbar],
*[role=toolbar] > button {
  user-select: none;
}

dialog > footer[role=toolbar] > button[value=Ok]:before{
  content: "Ok"
}
dialog > footer[role=toolbar] > button[value=Cancel]:before{
  content: "Cancel"
}

dialog h1:first-child,
dialog h2:first-child,
dialog h3:first-child,
dialog h4:first-child,
dialog h5:first-child,
dialog h6:first-child,
dialog h7:first-child 
{
  margin-block-start: 0px;
  margin-block-end: 0px;
}

form, form > fieldset {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.25em;
  padding-top: 0.75em;
}

dialog > footer > form[role=toolbar][method=dialog] {
  display: flex;
  flex-direction: row;
}

form > fieldset {
  grid-column: span 2;  
}

form > fieldset > label,
form > label {
  grid-column: labels;
  grid-row: auto;
  margin-top: 4px;
  justify-self: end;
}

label {
  color: var( --huey-foreground-color );
}

form > label::after, form > fieldset > label::after {
  content: ":"
}

form > output {
  margin-top: 2px;
}

form > output, 
form > fieldset > output, 
form > input,
form > fieldset > input,
form > select,
form > fieldset > select{
  grid-column: controls;
  grid-row: auto;
  justify-self:start;
  margin-top: 2px;
}

menu[role=toolbar] {
  list-style-type: none;
  margin-block: 0px;
  margin-inline: 0px;
  padding-inline-start: 0px;
  padding: 6px 0px 0px 4px;
  height: 32px;
  grid-column: 1/ span 2;
  grid-row: 1/1;
  overflow: hidden;
}

header[role=toolbar] > label > button,
menu[role=toolbar] > label > button,
menu[role=menu] > li[role=menuitem] > label > button {
  display: none;
}

header[role=toolbar] > label:has( > button )::before,
menu[role=toolbar] > label:has( > button )::before,
menu[role=toolbar] > label:has( > input[type=file] )::before 
{  
  font-family: var( --huey-icon-font-family );
  font-size: var( --huey-icon-normal );
  vertical-align:middle;
  color: var( --huey-icon-color-subtle );
  margin: 4px 4px 0px 4px;
}

header[role=toolbar] > label:hover:has( > button )::before,
menu[role=toolbar] > label:hover:has( > button )::before,
menu[role=toolbar] > label:hover:has( > input[type=file] )::before {
  color: var( --huey-icon-color-highlight );
}


menu[role=menu] {
  list-style-type: none;
  margin-block: 0px;
  margin-inline: 0px;
  padding-inline-start: 0px;
  border-collapse: collapse;
}

menu[role=menu] > li[role=menuitem] {
  line-height: 24px;
  background-color: var( --huey-dark-background-color );
  border-color: var( --huey-dark-border-color );
  border-width: 1px;
  border-style: solid;
  padding: 2px 4px 2px 10px;
  border-radius: 14px;
}

*[role=toolbar] > button:hover ,
menu[role=menu] > li[role=menuitem]:hover {
  background-color: var( --huey-light-background-color );
  border-color: var( --huey-light-border-color );
}


code, pre {
  font-family: var( --huey-mono-font-family );
}