:root {
  --icon-copy: '\ea7a';
  --icon-cloud-upload: '\ea75';
  --icon-upload: '\eb47';
  --icon-info-circle: '\eac5';
  --icon-square: '\eb2c';
  --icon-bucket: '\ea47';
  --icon-bucket-droplet: '\f56a';
  --icon-calendar: '\ea53';
  --icon-chart-bar: '\ea59';
  --icon-chevron-left: '\ea60';
  --icon-chevron-right: '\ea61';
  --icon-clock: '\ea70';
  --icon-database: '\ea88';
  --icon-download: '\ea96';
  --icon-folder: '\eaad';
  --icon-folder-open: '\faf7';
  --icon-file: '\eaa4';
  --icon-filter: '\eaa5';
  --icon-hash: '\eabc';
  --icon-key: '\eac7';
  --icon-settings: '\eb20';
  --icon-shopping-cart: '\eb25';
  --icon-square-check: '\eb28';
  --icon-square: '\eb2c';
  --icon-trash: '\eb41';
  --icon-list: '\eb6b';
  --icon-sum: '\eb73';
  --icon-calculator: '\eb80';
  --icon-table: '\eba1';
  --icon-table-options: '\f25c';
  --icon-checkbox: '\eba6';
  --icon-tallymark-4: '\ec49';
  --icon-tallymarks: '\ec4a';
  --icon-letter-d: '\ec53';
  --icon-letter-h: '\ec57';
  --icon-letter-m: '\ec5c';
  --icon-letter-q: '\ec60';
  --icon-letter-s: '\ec62';
  --icon-letter-v-small: '\fcdc';
  --icon-letter-y: '\ec68';
  --icon-filter-off: '\ed2c';
  --icon-player-play: '\ed46';
  --icon-layout-grid: '\edba';
  --icon-binary: '\ee08';
  --icon-feather: '\ee8b';
  --icon-letter-case-lower: '\eea2';
  --icon-letter-case-upper: '\eea4';
  --icon-letter-case: '\eea5';
  --icon-list-numbers: '\ef11';
  --icon-sort-ascending-letters: '\ef18';
  --icon-file-database: '\f037';
  --icon-abacus: '\f05c';
  --icon-math-avg: '\f0f4';
  --icon-math-max: '\f0f5';
  --icon-math-min: '\f0f6';
  --icon-logical-and: '\f240';
  --icon-logical-or: '\f245';
  --icon-ruler-3: '\f290';
  --icon-clipboard-copy: '\f299';
  --icon-analyze: '\f3a3';
  --icon-txt: '\f3b1';
  --icon-file-stack: '\f503';
  --icon-file-xls: '\fb1b';
  --icon-sort-a-z: '\f54f';
  --icon-number-123: '\f554';
  --icon-number-8-small: '\fcfd';
  --icon-number-16-small: '\fce9';
  --icon-number-32-small: '\10002';
  --icon-number-64-small: '\ffe2';
  --icon-brackets-contain: '\f1e5';
  --icon-code-dots: '\f61a';
  --icon-exclamation-circle: '\f634';
  --icon-player-play-filled: '\f691';
  --icon-JSON: '\f7b2';
  --icon-filter-plus: '\fa02';
  --icon-filter-x: '\fa04';
  --icon-decimal: '\fa26';
  --icon-table-column: '\faff';
  --icon-table-row: '\fb00';
  --icon-file-typography: '\f041';
  --icon-file-type-css: '\fb08';
  --icon-file-type-csv: '\fb09';
  --icon-file-type-js: '\fb0e';
  --icon-file-type-sql: '\fb15';
  --icon-file-type-txt: '\fb19';
  --icon-caret-down: '\fb2a';
  --icon-filter-check: '\fb7e';
  --icon-filter-code: '\fb7f';
  --icon-filter-exclamation: '\fb82';
  --icon-filter-question: '\fb86';
  --icon-list-letters: '\fc47';
  --icon-letter-d-small: '\fcca';
  --icon-letter-m-small: '\fcd3';
  --icon-letter-u-small: '\fcdb';
  --icon-calendar-clock: '\fd2e';
  --icon-calendar-month: '\fd2f';
  --icon-calendar-week: '\fd30';
  --icon-stopwatch: '\ff9b';  
  --icon-switch: '\eb33';
  --icon-article: '\f1e2';
}