.search {
  position: sticky;
  flex-grow: 0;
  top: 0px;
  background-color: var( --huey-medium-background-color );
  height: 62px;
  padding-top: 1px;
}

.search > fieldset > input[type=search]{
  width: 100%;
}

.attributeUi details[data-matches-searchstring=false] {
  display: none;
}
