.pivotTableUiContainer[aria-busy=false] {

  > .pivotTableUiInnerContainer {

    > .pivotTableUiTable {
      .pivotTableUiRow {

        > .pivotTableUiHeaderCell {
          > .pivotTableUiCellLabel {
            color: inherit;
          }
        }

      }
    }
  }
}

.pivotTableUiContainer[aria-busy=true] {
  > .pivotTableUiInnerContainer {

    > .pivotTableUiTable {

      /* 
        This is here for https://github.com/rpbouman/huey/issues/70
        basically, we need to suprress display of the label text while we're still busy (rendering the table)
        If we don't, the cells will not have yet assumed the assigned cell width 
        and this messes up our calculation of how much columns we should render.
      */
      > .pivotTableUiTableBody > .pivotTableUiRow > .pivotTableUiHeaderCell > .pivotTableUiCellLabel {
        width: 1ch;
        visibility: hidden;
      }

      .pivotTableUiRow {

        > .pivotTableUiCell {
          border-color: transparent;
          box-shadow: -2px 1px 1px -2px rgba(200, 200, 200, 0.5);

          > .pivotTableUiCellLabel {
            color: transparent;
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
          }

        }
      }
    }
  }
}

.pivotTableUiContainer {
  overflow: hidden;
  background-color: var( --huey-light-background-color );

  > .pivotTableUiInnerContainer {
    overflow: scroll;
    position: relative;
    width: 100%;
    height: calc( 100% - 3px );
    margin: 1px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-style: none;
    border-width: 0px;
    
    > .pivotTableUiSizer {
      position: absolute;
      background-color: transparent;
      z-index: 0;
    }
    
    > .pivotTableUiSizer.pivotTableUiHorizontalSizer {
      height: 1px;
    }
    
    > .pivotTableUiSizer.pivotTableUiVerticalSizer {
      width: 1px;
    }

    > .pivotTableUiTable {
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
      border-style: none;
      border-width: 0px;
      position: sticky;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      
      .pivotTableUiRow {
        display: table-row;

        > .pivotTableUiCell {
          display: table-cell;
          border-style:solid;
          border-width: 1px;
          border-color: var( --huey-light-border-color );
          
          > .pivotTableUiCellLabel {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            margin: 0px;
            padding: 0px 2px 0px 2px;
            border: 0px;
            display: block;
          }
        }

        > .pivotTableUiCell::-webkit-resizer {
          display: none;
        }

        > .pivotTableUiHeaderCell {
          background-color: var( --huey-medium-background-color );
        }
        
        > .pivotTableUiCell.pivotTableUiCellAxisHeaderCell > .pivotTableUiCellLabel,
        > .pivotTableUiCell > .pivotTableUiCellLabel.pivotTableUiAxisHeaderLabel {
          font-weight: bold;
          padding: 0px 2px 0px 4px;
        }
        
        > .pivotTableUiCell[data-value-type^=Decimal] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^=Float] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^=Int] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^=Uint] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^="List<Decimal>"] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^="List<Float>"] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^="List<Int>"] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^="List<Uint>"] > .pivotTableUiCellLabel {
          font-family: var( --huey-mono-font-family );
        }
        
        > .pivotTableUiCell[data-value-type^=Decimal] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^=Float] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^=Int] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-value-type^=Uint] > .pivotTableUiCellLabel {
          text-align: right;
        }

        > .pivotTableUiCell[data-axis=columns][data-value-type^=Decimal][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^=Decimal][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=columns][data-value-type^=Float][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^=Float][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=columns][data-value-type^=Int][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^=Int][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^=Uint][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=columns][data-value-type^="List<Decimal>"][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^="List<Decimal>"][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=columns][data-value-type^="List<Float>"][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^="List<Float>"][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=columns][data-value-type^="List<Int>"][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=columns][data-value-type^="List<Uint>"][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^="List<Int>"][data-totals=true] > .pivotTableUiCellLabel,
        > .pivotTableUiCell[data-axis=rows][data-value-type^="List<Uint>"][data-totals=true] > .pivotTableUiCellLabel {
          font-family: unset;
          text-align: unset;
        }

        > .pivotTableUiCell[data-totals=false]:has( + .pivotTableUiCell[data-totals=true] ) {
          border-right-color: var( --huey-dark-border-color );
        }

        > .pivotTableUiCell[data-totals=true] {
          background-color: var( --huey-medium-background-color );
          border-right-color: var( --huey-dark-border-color );
          font-weight: bold;
        }
        
        /* 
          ditto marks are text and should not be aligned according to data type. 
          Right now I think they look best when centered, but perhaps I'm wrong and then we'll change it.
        */
        > .pivotTableUiHeaderCell[data-is-repeating-value=true] > .pivotTableUiCellLabel {
          text-align: center;
          color: var( --huey-placeholder-color );
        }

      }
      
      .pivotTableUiRow[data-totals=true] {
        font-weight: bold;
        background-color: var( --huey-medium-background-color );
      }

      .pivotTableUiRow[data-totals=true] > .pivotTableUiCell,
      .pivotTableUiRow:has( + .pivotTableUiRow[data-totals=true]) > .pivotTableUiCell {
        border-bottom-color: var( --huey-dark-border-color );
      }

      > .pivotTableUiTableHeader {
        display: table-header-group;
        
        > .pivotTableUiRow > .pivotTableUiHeaderCell[data-is-repeating-value] {
          border-right-style: none;
        }

        > .pivotTableUiRow > .pivotTableUiHeaderCell[data-is-repeating-value]:last-child {
          border-right-style: solid;
        }

        > .pivotTableUiRow > .pivotTableUiHeaderCell[data-is-repeating-value=true] {
          border-left-style: none;
        }
        
        > .pivotTableUiRow:first-child {

          > .pivotTableUiCell {
            resize: horizontal;
            overflow: hidden;
          }

          > .pivotTableUiCell.pivotTableUiStufferCell {
            width: 100%;
            resize: none;
            background: none;
            border: none;
          }

          > .pivotTableUiCell::-webkit-resizer {
            border-right-style: dotted;
            border-right-width: 2px;
            border-color: var( --huey-dark-border-color );
          }

        }

        > .pivotTableUiRow:last-child {

          > .pivotTableUiCell:not(.pivotTableUiRowsAxisHeaderCell) {
            border-bottom-color: var( --huey-dark-border-color );
          }

          > .pivotTableUiRowsAxisHeaderCell:has( + .pivotTableUiHeaderCell[data-totals] ) {
            border-right-color: var( --huey-dark-border-color );
          }

          > .pivotTableUiRowsAxisHeaderCell {
            border-bottom-color: var( --huey-dark-border-color );
          }
          
          > .pivotTableUiCell.pivotTableUiRowsAxisHeaderCell {
            border-top-color: var( --huey-dark-border-color );
          }
          
          > .pivotTableUiCell:has( + .pivotTableUiColumnsAxisHeaderCell ) {
            border-right-color: var( --huey-dark-border-color );
          }
        }

        > .pivotTableUiRow:has( + .pivotTableUiRow > .pivotTableUiRowsAxisHeaderCell) > .pivotTableUiHeaderCell:not([data-totals]) {
          border-bottom-color: var( --huey-dark-border-color );
        }

      }
      
      > .pivotTableUiTableBody {
        display: table-row-group;
        
        > .pivotTableUiRow {

          > .pivotTableUiCell.pivotTableUiStufferCell {
            height: 100%;
            resize: none;
            background: none;
            border: none;
          }

          > .pivotTableUiHeaderCell:has( + .pivotTableUiValueCell) {
            border-right-color: var( --huey-dark-border-color );
          }
          
          > .pivotTableUiHeaderCell[data-is-repeating-value]{
            border-bottom-style: none;
          }
          
          > .pivotTableUiHeaderCell[data-is-repeating-value=true] {
            border-top-style: none;
          }

        }

        > .pivotTableUiRow:nth-last-child(2) {
          > .pivotTableUiHeaderCell[data-is-repeating-value] {
            border-bottom-style: solid;
          }
        }

      }
    }
  }
}





