
menu[role=menu]#pivotTableContextMenu {

  li {

    /* icon for the filter submenu item */
    > label[for=filterSubmenuActivate]:before {
      /* filter */
      content: '\eaa5';
    }
    
    /* icons for the various filter submenu items */
    > label[for=pivotTableContextMenuItemFilterIncludeValue]:before {
      /* filter */
      content: '\eaa5';
    }

    > label[for=pivotTableContextMenuItemFilterExcludeValue]:before {
      /* filter exclamation */
      content: '\fb82';
    }

    /* icon for the copy submenu item */
    > label[for=copySubmenuActivate]:before {
      /* clipboard-copy */
      content: '\f299';
    }

    /* icons for the various copy menu items*/
    > label[for=pivotTableContextMenuItemCopyCell]:before {
      /* layout-grid */
      content: '\edba';
    }

    > label[for=pivotTableContextMenuItemCopyColumn]:before {
      /* table-column */
      content: '\faff';
    }

    > label[for=pivotTableContextMenuItemCopyColumnTuples]:before {
      /* table-column */
      content: '\faff';
    }

    > label[for=pivotTableContextMenuItemCopyRow]:before {
      /* table-row */
      content: '\fb00';
    }

    > label[for=pivotTableContextMenuItemCopyRowTuples]:before {
      /* table-row */
      content: '\fb00';
    }

    > label[for=pivotTableContextMenuItemCopyTable]:before {
      /* table */
      content: '\eba1';
    }
  }
  
  /* Separator lines between the various copy menu items */ 
  li:has(> label[for=pivotTableContextMenuItemCopyCell]) {
    border-bottom-style: solid;
  }

  li:has(> label[for=pivotTableContextMenuItemCopyColumnTuples]) {
    border-bottom-style: solid;
  }

  li:has(> label[for=pivotTableContextMenuItemCopyRowTuples]) {
    border-bottom-style: solid;
  }

}

