#datasourcesUi {
  padding-top: 16px;
}


#datasourcesUi details[data-nodetype=datasourcegroup][data-grouptype=duckdb] > summary > .icon::before,
#datasourcesUi details[data-nodetype=datasourcegroup][data-grouptype=file] > summary > .icon::before,
#datasourcesUi details[data-nodetype=datasourcegroup][data-grouptype=sqlite] > summary > .icon::before
{
  /* folder */
  content: '\eaad';
}

#datasourcesUi details[open][data-nodetype=datasourcegroup][data-grouptype=duckdb] > summary > .icon::before,
#datasourcesUi details[open][data-nodetype=datasourcegroup][data-grouptype=file] > summary > .icon::before,
#datasourcesUi details[open][data-nodetype=datasourcegroup][data-grouptype=sqlite] > summary > .icon::before {
  /* folder open */
  content: '\faf7';
}

#datasourcesUi details > summary > .label  {
  max-width: calc(100% - 100px);
}

#datasourcesUi details[data-nodetype=datasourcegroup][data-grouptype=file] > details[data-nodetype=datasource][data-sourcetype=file] > summary {
  list-style: none;
  margin-left: 16px;
}

#datasourcesUi details[data-nodetype=datasource][data-sourcetype=duckdb] > summary > .icon::before {
  /* file-database */
  content: '\f037';
}

#datasourcesUi details[data-nodetype=datasource][data-sourcetype=file] > summary > .icon::before {
  /* file */
  content: '\eaa4';
}

#datasourcesUi details[data-nodetype=datasource][data-sourcetype=sqlite] > summary > .icon::before {
  /* feather */
  content: '\ee8b';
}


#datasourcesUi details[data-nodetype=datasource][data-sourcetype=file][data-filetype=csv] > summary > .icon::before {
  /* file-type-csv */
  content: '\fb09';
}

#datasourcesUi details[data-nodetype=datasource][data-sourcetype=file][data-filetype=txt] > summary > .icon::before {
  /* file-type-txt */
  content: '\fb19';
}

#datasourcesUi details[data-nodetype=datasource][data-sourcetype=file][data-filetype=json] > summary > .icon::before {
  /* file-type-js */
  content: '\fb0e';
}

#datasourcesUi details[data-nodetype=datasource][data-sourcetype=file][data-filetype=sql] > summary > .icon::before {
  /* file-type-sql */
  content: '\fb0e';
}


#datasourcesUi details[data-nodetype=datasource][data-sourcetype=file][data-filetype=parquet] > summary > .icon::before {
  /* file-stack */
  content: '\f503';
}

#datasourcesUi details[data-nodetype=datasource][data-sourcetype=file][data-filetype=xlsx] > summary > .icon::before {
  /* file-type-xls */
  content: '\fb1b';
}

#datasourcesUi details > summary > label.button.analyzeActionButton::before {
  /* table */
  content: '\eba1';
}

#datasourcesUi details > summary > label.button.removeActionButton::before {
  /* trash */
  content: '\eb41';
}