.pivotTableUiContainer {
  overflow: hidden;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer {
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 1px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-style: none;
  border-width: 0px;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiSizer {
  position: absolute;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiSizer.pivotTableUiHorizontalSizer {
  height: 1px;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiSizer.pivotTableUiVerticalSizer {
  width: 1px;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  border-style: none;
  border-width: none;
  position: sticky;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable > .pivotTableUiTableHeader {
  display: table-header-group;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable > .pivotTableUiTableBody {
  display: table-row-group;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow {
  display: table-row;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable > .pivotTableUiTableHeader > .pivotTableUiRow:first-child > .pivotTableUiCell.pivotTableUiStufferCell {
  width: 100%;
  resize: none;
  background: none;
  border: none;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable > .pivotTableUiTableBody > .pivotTableUiRow > .pivotTableUiCell.pivotTableUiStufferCell {
  height: 100%;
  resize: none;
  background: none;
  border: none;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiCell {
  display: table-cell;
  border-style:solid;
  border-width: 1px;
  border-color: rgb(235,235,235); 
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiCell {
  resize: horizontal;
  overflow: hidden;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiCell::-webkit-resizer {
  display: none;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiTableHeader > .pivotTableUiRow:first-child > .pivotTableUiCell::-webkit-resizer {
  border-right-style: dotted;
  border-right-width: 2px;
  border-right-color: rgb(175,175,175);
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiHeaderCell {
  background-color: rgb(250,250,250);
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable > .pivotTableUiTableBody > .pivotTableUiRow > .pivotTableUiHeaderCell:has( + .pivotTableUiValueCell) {
  border-right-color: rgb(175,175,175);
}

.pivotTableUiContainer[data-updating=false] > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiHeaderCell > .pivotTableUiCellLabel {
  color: inherit;
}

.pivotTableUiContainer[data-updating=true] > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiHeaderCell > .pivotTableUiCellLabel {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable > .pivotTableUiTableHeader > .pivotTableUiRow:last-child > .pivotTableUiCell {
  border-bottom-color: rgb(175,175,175); 
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiCell > .pivotTableUiCellLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  margin: 0px;
  padding: 0px 2px 0px 2px;
  border: 0px;
  display: block;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiRow > .pivotTableUiCell > .pivotTableUiCellLabel.pivotTableUiAxisHeaderLabel {
  font-weight: bold;
  padding: 0px 2px 0px 4px;
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiTableHeader > .pivotTableUiRow:last-child > .pivotTableUiCell.pivotTableUiRowsAxisHeaderCell {
  border-top-color: rgb(175,175,175); 
}

.pivotTableUiContainer > .pivotTableUiInnerContainer > .pivotTableUiTable .pivotTableUiTableHeader > .pivotTableUiRow > .pivotTableUiCell:has(+ .pivotTableUiColumnsAxisHeaderCell) {
  border-right-color: rgb(175,175,175); 
}
