dialog#attachDialog {
  
  left: calc( 50vw - 320px );
  top: calc( 50vh - 400px );
  resize: both;
  padding: 0px .5em .25em 1em;
  min-height: 372px;
  min-width: 372px;
  width: 840px;
  height: 372px;
  overflow: hidden;
  
  
  
}